<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../assets/imge/27-278180_blank-logo-for-picsart-black-and-red-star.png" alt="" width="50" height="34"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="product">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="product">product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="cart">cart</a>
          </li>
        </ul>
        <div class="">
          <button class="btn btn-outline-primary me-2" *ngIf="!isloged" routerLink="login">sign in</button>
          <button class="btn btn-outline-primary me-2 " *ngIf="!isloged" routerLink="signUp" > sign up</button>
              <button class="btn btn-outline-primary me-2" *ngIf="isloged" >profile</button>
              <button class="btn btn-outline-primary me-2" *ngIf="isloged" (click)="logout()" >logout</button>
      </div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
      </div>
</nav>
